!!! 5
%html(lang="en")
%head
	%meta(http-equiv="Content-Type" content="text/html" charset="UTF-8")
	%meta(http-equiv="Content-Language" content="en")
	%meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	%meta(name="description" content="他人のブロックリスト、手軽に自分のアカウントにインポートしたくない？")
	%meta(name="auhthor" content="onokatio")
	%meta(name="application-name" content="ブロックリスト共有したった〜")
	%link(crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet")
	%link(href="css/main.css" rel="stylesheet")
	%style
	%title ブロックリスト共有したった〜
%body
	%nav.navbar.navbar-toggleable.navbar-light.bg-faded
		%span.navbar-brand.mr-auto ブロックリスト共有したった〜
		%form(method="POST")
			%input(type="hidden" name="logout" value="true")
			%button.btn.btn-primary(type="submit") ログアウト
			%input(type="hidden" name="login" value="true")
			%button.btn.btn-primary(type="submit") ログイン
	#about.row.m-0.d-flex.flex-row.flex-wrap
		%span.my-0.my-sm-0.my-md-0.my-lg-auto.my-xl-auto.text-center.flexitem.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
			ブロックリストを、インポート。<br>
			しかも、ボタン１つで。
		.text-right.flexitem.p-0.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
			%img(src="img/phone.png")
	#dashboard.row.m-0.d-flex.flex-row.flex-wrap
		#register.card.flexitem.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
			.card-block
				%h4.card-title ブロックリストを登録
				%p.card-text
					あなたのブロックリストを登録します。<wbr>
					登録された情報はインターネットに公開されます。<wbr>
					ブロックリストを変更した際も、ここからアップデートできます。
					%small 最終更新: <?= date('Y年m月d日') ?>
					.btn-group
						%button.btn.btn-outline-primary 登録する
						%button.btn.btn-outline-danger 削除する
		#search.card.flexitem.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
			.card-block
				%h4.card-title 検索
				%p.card-text
					他のユーザーのブロックリストを検索できます。<wbr>
					そのユーザーが当サービスにブロックリストを登録していない場合、検索することはできません。
					.input-group
						%span.input-group-addon @
						%input.form-control(type="text" name="id")
						%span.input-group-btn
							%button.btn.btn-success(type="submit") 検索する
		#userinfo.card.flexitem.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
			.card-block
				%h4.card-title あなたの情報
				%p.card-text
					%table.table
						%tbody
							%tr
								%td 名前
								%td 
							%tr
								%td アカウント名
								%td 
							%tr
								%td アカウントID
								%td 
							%tr
								%td 登録ブロック数
								%td 未登録
							%tr
								%td ブロックJSON
								%td 
		#dbinfo.card.flexitem.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
			.card-block
				%h4.card-title データベースの情報
				%p.card-text
					%table.table
						%tbody
							%tr
								%td 登録ブロックリスト数
								%td 0
							%tr
								%td ブロックアカウント数
								%td 0
							%tr
								%td ブロックしている人数
								%td 平均0
/	 %footer.text-right
/		%span Made by onokatio
